/* body, html {
      overflow:hidden;
    } */
/* prevents scrolling on safari ios https://stackoverflow.com/questions/7768269/ipad-safari-disable-scrolling-and-bounce-effect user: Ben Bos*/

.welcome {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

.pattern {
  padding-top: 10px;
  margin: auto;
  user-select: none;
}

.houses {
  margin: auto;
}

.col {
  display: flex;
  justify-content: center;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.square {
  display: block;
  width: 100%;
  height: 100%;
  /*padding-bottom: 100%;*/
}

.shape {
  width: 80%;
  height: auto;
}

.test-shape {
  width: 90%;
  height: auto;
  cursor: pointer;
}

.box {
  border: 3px solid;
  width: 14vw;
  height: 14vw;
  user-select: none;
}

#houses_demo {
  width: 100%;
  height: 100%;
}

.small_house1, .small_house2 {
  width: 90%;
  height: 100%;
  margin: -2px;
  cursor: pointer;
}

.big_house1, .big_house2 {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.small_car1, .small_car2 {
  width: 50%;
  height: 50%;
}

.big_car1, .big_car2 {
  width: 70%;
  height: 70%;
}

.training_smallhouse {
  width: 60%;
  height: 60%;
  /* margin: -3px; */
  cursor: pointer;
}

.training_bighouse {
  width: 85%;
  height: 85%;
  cursor: pointer;
}

.star1, .star2 {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.red_x1, .red_x2 {
  width: 60%;
  height: 60%;
  cursor: pointer;
}

.star1_gen, .star2_gen {
  width: 25%;
  height: 25%;
  cursor: pointer;
}

.red_x1_gen, .red_x2_gen {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.training_star {
  width: 40%;
  height: 40%;
  cursor: pointer;
}

.training_x {
  width: 33%;
  height: 33%;
  cursor: pointer;
}

.small_house2, .big_house2, .small_car2, .big_car2 {
  cursor: pointer;
}

.small_house2:hover, .big_house2:hover, .small_car2:hover, .big_car2:hover {
  opacity: 75%;
}

.tokens {
  padding-top: 10px;
}

.cars, .tokens_gen,  .star2_gen, .red_x2_gen,
.star2, .red_x2,  .training_x, .training_star, #pattern_demo2, #pattern_demo3, .tries_gen, .training_houses, .finger1, .finger2 {
  display: none;
}

/* houses training */
.finger1 {
  width: 40%;
  height: 40%;
  position: relative;
  animation: demo1 1.5s linear infinite;

}

.finger2 {
  width: 40%;
  height: 40%;
  position: relative;
  display: none;
  animation: demo2 1.5s linear infinite;
}

@keyframes demo1 {
  from {
    bottom: 5vw;
  }

  to {
    bottom: 7vw;
  }
}

@keyframes demo2 {
  0% {
    bottom: 10vw;
  }

  100% {
    bottom: 12vw;
  }
}

/* pattern training */
#pattern_demo1 {
  width: 40%;
  height: 40%;
  position: relative;
  animation: pattern_demo1 1.5s linear infinite;
}

@keyframes pattern_demo1 {
  0% {
    left: 0vw;
    bottom: 10vw;
  }

  100% {
    left: 15vw;
    bottom: 25vw;
  }
}

#pattern_demo2 {
  width: 40%;
  height: 40%;
  position: relative;
  animation: pattern_demo2 1.5s linear infinite;
}

@keyframes pattern_demo2 {
  0% {
    left: 0vw;
    bottom: 10vw;
  }

  100% {
    left: 15vw;
    bottom: 25vw;
  }
}

/* pattern training */
#pattern_demo3 {
  width: 40%;
  height: 40%;
  position: relative;
  animation: pattern_demo3 1.5s linear infinite;
}

@keyframes pattern_demo3 {
  0% {
    left: 0vw;
    bottom: 10vw;
  }

  100% {
    left: -30vw;
    bottom: 25vw;
  }
}

.tries, .tries_gen {
  font-family: Arial;
  font-size: 20px;
  width: 18%;
  color: white;
  background-color: #157DEC;
}

.number, .number_gen {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;

}

.buttons {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: none;
}

.buttons:hover {
  background-color: grey;
}

.btns {
  color: blue;
}

.images {
  width: 100%;
  height: 100%;
}

.textbox {
  display: flex;
  font-size: 16px;
  border: 1px solid;
  width: 35vw;
  height: 4vh;
  align-items: center;
  justify-content: center;
}

.houses_textbox {
  font-size: 18px;
  border: 2px solid;
  padding: 5px;
  display: none;
  align-items: center;
  justify-content: center;
}

input {
  text-align: center;
}
