/* body {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    } */
/*this is a comment*/
/* https://stackoverflow.com/questions/19201715/how-do-i-get-a-page-to-auto-fit-to-a-window user: JSW189 */
.welcome {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

.pattern {
  padding-top: 10px;
  margin: auto;
}

.houses {
  margin: auto;
}

.col {
  display: flex;
  justify-content: center;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.square {
  display: block;
  width: 100%;
  height: 100%;
  /*padding-bottom: 100%;*/
}

.shape {
  width: 10.5vw;
  height: auto;
}

.test-shape {
  width: 90%;
  height: auto;
  cursor: grab;
}

.test-shape:active {
  cursor: grabbing;
  animation: rotation 2s infinite 0s linear;
}

.box {
  display: block;
  border: 1px solid;
  width: 12vw;
  height: 12vw;
  padding: auto;
}

.small_house1, .small_house2 {
  width: 90%;
  height: auto;
  margin: -3px;
}

.big_house1, .big_house2 {
  width: 100%;
  height: auto;
}

.small_car1, .small_car2 {
  width: 80%;
  height: auto;
}

.big_car1, .big_car2 {
  width: 100%;
  height: auto;
}

.training_smallhouse {
  width: 60%;
  height: auto;
  margin: -3px;
  cursor: pointer;
}

.training_bighouse {
  width: 75%;
  height: auto;
  cursor: pointer;
}

.star1, .star2 {
  width: 80%;
  height: auto;
}

.red_x1, .red_x2 {
  width: 60%;
  height: auto;
}

.star1_gen, .star2_gen {
  width: 65%;
  height: auto;
}

.red_x1_gen, .red_x2_gen {
  width: 50%;
  height: auto;
}

.training_star {
  width: 40%;
  height: auto;
}

.training_x {
  width: 33%;
  height: auto;
}

.small_house2, .big_house2, .small_car2, .big_car2 {
  cursor: pointer;
}

.small_house2:hover, .big_house2:hover, .small_car2:hover, .big_car2:hover {
  opacity: 85%;
}

.tokens {
  padding-top: 10px;
}

.cars, .tokens_gen, .star2, .red_x2, .star2_gen, .red_x2_gen, .training_x, .training_star, .buttons, #houses_demo2, #pattern_demo2, #pattern_demo3, .tries_gen {
  display: none;
}

#houses_demo1 {
  width: 40%;
  height: auto;
  position: relative;
  animation: demo1 1.5s linear infinite;
}

@keyframes demo1 {
  0% {
    left: -200%;
    bottom: 65%;
  }

  100% {
    left: -200%;
    bottom: 90%;
  }
}

#houses_demo2 {
  width: 40%;
  height: auto;
  position: relative;
  animation: demo2 1.5s linear infinite;
}

@keyframes demo2 {
  0% {
    right: 100%;
    bottom: 125%;
  }

  100% {
    right: 100%;
    bottom: 150%;
  }
}

#pattern_demo {
  width: 40%;
  height: auto;
  position: relative;
  animation: pattern_demo 1.5s linear 3;
}

@keyframes pattern_demo {
  0% {
    left: 0%;
    bottom: 0%;
  }

  100% {
    left: 0%;
    bottom: 225%;
  }
}


#pattern_demo1 {
  width: 40%;
  height: auto;
  position: relative;
  animation: pattern_demo1 1.5s linear infinite;
}

@keyframes pattern_demo1 {
  0% {
    left: 0%;
    bottom: 125%;
  }

  100% {
    left: 100%;
    bottom: 300%;
  }
}

#pattern_demo2 {
  width: 40%;
  height: auto;
  position: relative;
  animation: pattern_demo2 1.5s linear infinite;
}

@keyframes pattern_demo2 {
  0% {
    left: 0%;
    bottom: 125%;
  }

  100% {
    left: 100%;
    bottom: 300%;
  }
}

#pattern_demo3 {
  width: 40%;
  height: auto;
  position: relative;
  animation: pattern_demo3 1.5s linear infinite;
}

@keyframes pattern_demo3 {
  0% {
    left: 0%;
    bottom: 125%;
  }

  100% {
    left: -200%;
    bottom: 300%;
  }
}

.tries, .tries_gen {
  font-family: Arial;
  font-size: 20px;
  width: 18%;
  color: white;
  background-color: #157DEC;
}

.number, .number_gen {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;

}


/* .houses_container {
      display: inline-grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
      padding-top: 150px;
      padding-bottom: 50px;
      grid-gap: 15px;
      cursor: pointer;
    }

    .houses_container_gen {
      display: inline-grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
      padding-top: 30px;
      padding-bottom: 50px;
      grid-gap: 15px;
      cursor: pointer;
    }

    .stars_container {
      display: inline-grid;
      grid-template-columns: repeat(5, 60px 100px 40px);
      grid-gap: 250px;
      padding-left: 25px;
      transform-origin: left;
      transform: scale(0.3);
      margin-top: -50px;
    }

    .stars_container_gen {
      display: inline-grid;
      grid-template-columns: repeat(5, 60px 100px 40px);
      grid-gap: 250px;
      padding-left: 25px;
      transform-origin: left;
      transform: scale(0.3);
      margin-top: -50px;
    } */

/* .boxes {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      padding: 15px;
    } */
/* .shape_selection {
      display: inline-grid;
      margin: auto;
      grid-template-columns: auto auto;
      padding: 30px;
      grid-gap: 65px;
      cursor: grab;
    }

    .shape_selection:active {
      cursor: grabbing;
      animation: rotation 2s infinite 0s linear;
    } */
/* shapes - from https://css-tricks.com/the-grid-item-of-css/*/
/* #yellow_triangle {
      width: 0;
      height: 0;
      border-bottom: 100px solid #ffff00;
      border-right: 100px solid transparent;
    }

    #yellow_triangle1 {
      width: 0;
      height: 0;
      border-bottom: 100px solid #ffff00;
      border-right: 100px solid transparent;
    }

    #pink_diamond {
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom-color: #ff22ff;
      position: relative;
      top: -50px;
    }

    #pink_diamond:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 50px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: #ff22ff;
    }

    #orange_square {
      width: 100px;
      height: 100px;
      background-color: #ff974f;
    }

    #red_circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
    }

    #blue_rect {
      width: 85px;
      height: 100px;
      transform: skew(-20deg);
      background: #4472c4;
      margin-bottom: -50px;
    }

    #green_hexagon {
      width: 100px;
      height: 55px;
      background: #a9d18e;
      position: relative;
      top: 25px;
      transform: rotateZ(90deg);
    }

    #green_hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #a9d18e;
    }

    #green_hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #a9d18e;
    }

    #green_hexagon_abs {
      width: 100px;
      height: 55px;
      background: #a9d18e;
      position: relative;
      top: 25px;
      transform: rotateZ(90deg);
    }

    #green_hexagon_abs:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #a9d18e;
    }

    #green_hexagon_abs:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #a9d18e;
    }

    #pink_trapezoid {
      border-bottom: 100px solid #da74da;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 50px;
      margin-bottom: -50px;
    }

    #blue_triangle {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #bdd7ee;
      margin-bottom: -50px;
    }

    #black_pentagon {
      position: relative;
      width: 50px;
      box-sizing: content-box;
      border-width: 50px 25px 0;
      border-style: solid;
      border-color: black transparent;
      top: 48px;
    }

    #black_pentagon:before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -100px;
      left: -25px;
      border-width: 0 50px 50px;
      border-style: solid;
      border-color: transparent transparent black;
    }

    #red_heart {
      background-color: #C24641;
      height: 30px;
      margin: 0 10px;
      position: relative;
      top: 40px;
      transform: rotate(-45deg) scale(2.15);
      width: 30px;
    }

    #red_heart:before,
    #red_heart:after {
      content: "";
      background-color: #C24641;
      border-radius: 50%;
      height: 30px;
      position: absolute;
      width: 30px;
    }

    #red_heart:before {
      top: -15px;
      left: 0;
    }

    #red_heart:after {
      left: 15px;
      top: 0;
    } */
/* AAB demo */
/* .small_house {
      width: 60px;
      height: 60px;
      background: orange;
      margin-top: auto;
    }

    .small_house:before {
      content: "";
      position: relative;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 60px solid orange;
      top: -80px;
    }

    .big_house {
      width: 120px;
      height: 120px;
      background: green;
    }

    .big_house:before {
      content: "";
      position: relative;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 120px solid green;
      top: -140px;
    }

    .empty_small1,
    .empty_small2,
    .empty_big1,
    .empty_big2 */
/* X - from https://jsfiddle.net/a6rnbfyu/1/ */
/* {
      width: 60px;
      height: 60px;
      position: relative;
      top: -35px;
    }

    .empty_small1:after,
    .empty_small2:after,
    .empty_big1:after,
    .empty_big2:after {
      content: "";
      height: 175px;
      border-left: 20px solid red;
      position: absolute;
      transform: rotate(45deg);
    }

    .empty_small1:before,
    .empty_small2:before,
    .empty_big1:before,
    .empty_big2:before {
      content: "";
      height: 175px;
      border-left: 20px solid red;
      position: absolute;
      transform: rotate(-45deg);
    } */
/* .star1,
    .star2 */
/* star - from http://www.floatnine.com/single-div-star-with-css/ */
/* {
      position: relative;
      color: gold;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid gold;
      border-left: 100px solid transparent;

      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
    }

    .star1:before,
    .star2:before {
      border-bottom: 80px solid gold;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      content: "";
      transform: rotate(-35deg);
    }

    .star1:after,
    .star2:after {
      position: absolute;
      display: block;
      color: gold;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid gold;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: "";
    } */
/* AAB gen w/ eggs */
/* .small_house_gen {
      display: block;
      width: 60px;
      height: 90px;
      background-color: blue;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      margin-top: 85px;
    }

    .big_house_gen {
      display: block;
      width: 120px;
      height: 175px;
      background-color: purple;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }

    .empty_small1_gen,
    .empty_small2_gen,
    .empty_big1_gen,
    .empty_big2_gen {
      width: 60px;
      height: 60px;
      position: relative;
      top: -35px;
    }

    .empty_small1_gen:after,
    .empty_small2_gen:after,
    .empty_big1_gen:after,
    .empty_big2_gen:after {
      content: "";
      height: 175px;
      border-left: 20px solid red;
      position: absolute;
      transform: rotate(45deg);
    }

    .empty_small1_gen:before,
    .empty_small2_gen:before,
    .empty_big1_gen:before,
    .empty_big2_gen:before {
      content: "";
      height: 175px;
      border-left: 20px solid red;
      position: absolute;
      transform: rotate(-45deg);
    }

    .star1_gen,
    .star2_gen {
      position: relative;
      color: gold;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid gold;
      border-left: 100px solid transparent;

      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
    }

    .star1_gen:before,
    .star2_gen:before {
      border-bottom: 80px solid gold;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      content: "";
      transform: rotate(-35deg);
    }

    .star1_gen:after,
    .star2_gen:after {
      position: absolute;
      display: block;
      color: gold;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid gold;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: "";
    } */
.buttons {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  /* display: inline-block; */
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.buttons:hover {
  background-color: grey;
}

/* .pretest1,
    .pretest2,
    .AAB_abs,
    .ABB_abs,
    .star1,
    .empty_big1,
    .empty_small1,
    .star1,
    .empty_big1,
    .empty_small1,
    .star1_gen,
    .empty_big1_gen,
    .empty_small1_gen,
    #startPretest2,
    #startAAB_demo,
    #startAAB_gen,
    #startAAB_abs,
    #startABB_gen,
    #startABB_abs {
      display: none;
    }

    .star2,
    .empty_big2,
    .empty_small2,
    .star2_gen,
    .empty_big2_gen,
    .empty_small2_gen {
      visibility: hidden;
      /* https://stackoverflow.com/questions/18050761/toggle-visibility-property-of-div user: tb11 */
}
