@media (prefers-color-scheme: light) {
  body, .stopwatch, .current-time, input[type=number] {
    background: #ffffff;
  }

  .cta, input[type=number] {
    border: 1px solid #ffffff;
  }

  label, .stopwatch-timer, .hamburger-menu, .messages, .toggle-messages {
    color: #000000;
  }

  .menu-container {
    background: #f7f7f7;
  }
}

@media (prefers-color-scheme: dark) {
  body, .stopwatch, .current-time, input[type=number] {
    background: #2F3438;
  }

  .cta, input[type=number] {
    border: 1px solid #2F3438;
  }

  label, .stopwatch-timer, .hamburger-menu, .messages, .toggle-messages {
    color: #ffffff;
  }

  .menu-container {
    background: #202428;
  }
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.container, .menu-container, .hamburger-menu {
  position: absolute;
}

.container {
  top: -1.75em;
}

.menu-container {
  top: 0;
  right: 0;
  width: 12em;
  height: 10em;
  padding-top: 1em;
  text-align: center;
  display: none;
}

.hamburger-menu {
  top: -0.175em;
  left: 0;
  padding: 0.5em;
  font-size: 1.15em;
  cursor: pointer;
  z-index: 100;
}

#menu-bars {
  display: block;
}

#menu-times {
  display: none;
}

.stopwatch {
  width: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-time {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #1B79DF;
}

.notif {
  font-size: 1.75rem;
  display: flex;
  text-align: center;
}

#userInput {
  display: block;
}

#duration {
  width: 3.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  text-align: center;
}

::placeholder {
  color: lightgrey;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  color: #DF1F1B;
  font-weight: 600;
  margin: 0.25rem;
  font-family: "Lato";
}

input[type=number]:focus {
  outline: none;
}

.stopwatch-timer {
  font-size: 4rem;
  display: flex;
}

.no {
  padding: 0.5rem 0.85rem;
  position: relative;
  line-height: 1;
}

.no::after {
  content: ':';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.no:last-child::after {
  display: none;
}

.stopwatch-controls {
  display: flex;
  align-items: center;
  margin: 0.25em 0;
}

.cta {
  margin: 0 0.75rem 0 0.75rem;
  padding: 0.25rem 0.75rem;
  background: transparent;
  cursor: pointer;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;
}

form {
  padding: 0.25em;
}

.start {
  background-image: url('images/start.png');
}

.pause {
  background-image: url('images/pause.png');
}

.reset {
  background-image: url('images/reset.png');
}

#pause-button, #reset-button {
  display: none;
}

.messages {
  height: 1em;
  text-align: center;
  opacity: 0.5;
  display: none;
}

#start-date-time {
  margin: 0.5em 0;
}

#start-date-time:hover {
  color: #1B79DF;
  cursor: pointer;
}

.fas {
  font-size: 1.25em;
}

/* toggle reference: https://www.w3schools.com/howto/howto_css_switch.asp*/
#toggle-notify-text, #toggle-messages-text {
  margin-bottom: 0.1em;
  font-size: 0.9em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.65);
  margin: 0 -0.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
