.bg {
  /* https://www.w3schools.com/colors/colors_gradient.asp
  https://www.w3schools.com/colors/colors_hsl.asp?color=hsl(195,%201,%200.5)
  */
  background: linear-gradient(to bottom, #af67e9 0%, #6565e7 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.container {
  background: white;
  width: 60vw;
  height: 65vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
}

@font-face {
  font-family: KumbhSans-Bold;
  src: url(Kumbh_Sans/KumbhSans-Bold.ttf);
}

@font-face {
  font-family: KumbhSans-Regular;
  src: url(Kumbh_Sans/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: KumbhSans-Light;
  src: url(Kumbh_Sans/KumbhSans-Light.ttf);
}

.faq-container {
  font-size: 30px;
  font-family: KumbhSans-Bold;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.faq-questions-container {
  padding-top: 5%;
}

.faq-questions {
  font-size: 12px;
  font-family: KumbhSans-Regular;
  color: #787887;
  padding-top: 5%;
  padding-bottom: 5%;
}

.remove-border {
  border-bottom: 1px solid #e7e7e9;
}

.add-bold {
  font-family: KumbhSans-Bold;
  color: black;
}

.faq-questions:hover {
  color: #f47b56;
  cursor: pointer;
}

.faq-answers {
  font-size: 12px;
  font-family: KumbhSans-Light;
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 5%;
  display: none;
}

.arrow {
  float: right;
}

.flip {
  transform: rotate(-180deg);
}

.attribution {
  font-family: KumbhSans-Regular;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  border: 1px solid;

}

.images-container {
  overflow: hidden;
}

#woman img {
  width: 100%;
  height: auto%;
  margin-left: -17%;
  margin-top: 20%;
  position: relative;
  z-index: 2;
}

#shadow img {
  width: 215%;
  height: auto;
  margin-left: -132%;
  margin-top: -160%;
  position: relative;
}

#box img {
  width: 20%;
  height: auto;
  margin-left: -13%;
  margin-top: -50%;
  position: absolute;
  z-index: 3;
}
