* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* nav bar */
.navbar {
  display: flex;
  justify-content: space-between; /* pushes items as far away from each other as possible */
  align-items: center;
  background: #CAE1F9;
}

.my-name {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: auto;
}

.navbar-links ul /* changes ul as a container */ {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li /* changes the ul container */ {
  list-style: none; /* gets rid of bullet points next to the links */
}

.navbar-links li a /* changes list items in the ul container */ {
  text-decoration: none; /* gets rid of underlines under links */
  color: black;
  /* padding: 1rem; */
  display: block;
}

.navbar-links li:hover {
  background-color: #CAD2FA;
}

/* from home_page.css */
li a, .dropbtn /* for each link/list item in the container */ {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  font-size: 0.9rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 1; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
  text-align: left;
}

/* hamburger button */
.toggle-burger-button {
  display: none;
  position: absolute;
  top: 0.75rem; /* certain distance away from the top of the screen */
  right: 1rem; /* certain distance away from the right of the screen */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-burger-button .bar /* gets span elements w/ the class="bar" */ {
  height: 3px;
  width: 100%;
  border-radius: 25px;
  background-color: black;
}

/* x bar from https://jsfiddle.net/jermartin77/63sqmob6/*/

.toggle-x-button {
    width: 30px;
    height: 21px;
    position: absolute;
    display: none;
    top: 0.45rem;
    right: -0.25rem;
}

.toggle-x-button:after {
    content: '';
    height: 30px;
    border-left: 3px solid #000;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 10px;
}

.toggle-x-button:before {
    content: '';
    height: 30px;
    border-left: 3px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    border-radius: 10px;
}

@media (max-width: 400px) {/* media query: if the condition is met (e.g screen is less than 400px wide), run the code inside here */
    /* .my-name {
      ali-items: center;
    } */

    .toggle-burger-button {
      display: flex;
    }

    .toggle-x-button {
      display: none;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
      flex-direction: column; /* when the screen is less than 400px, the navbar (which contains the links, will be shown below the "brand name") */
      align-items: flex-start;
    }

    .navbar-links ul {
      flex-direction: column; /* when the screen is less than 400px, the links are stacked on top of each other rather than side by side*/
      width: 100%;
    }

    .navbar-links ul li {
      text-align: center; /* centers links the in the ul container */
    }

    .navbar-links li a {
      padding: .5rem 1rem; /* makes links toggle-x-buttonr together by removing top and bottom padding */
    }

    .navbar-links.active /* by default, the hamburger menu bar is active when the screen is less than 400px - the links themselves don't show, just the menu bar */ {
      display: flex;
    }
  }
